* {
  margin: 0;
  padding: 0;
  font-family: 'roboto';
}

p, q, li {
  font-size: 18px;
}

h2 {
  text-align: center;
  padding-bottom: 30px;
}

img {
  padding: 30px 0 30px 0;
  width: 100%;
}

p {
  width: 80%;
  margin: 0 auto;
}

q {
  margin: 0 auto;
}

ul {
  padding-top: 30px;
  margin: 0 auto;
  width: 90%;
  list-style-type: none;
}

.reverse {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.line {
  border: 1px solid #3F3838;
  width: 80%;
  margin: 0 auto;
}

.text {
  padding-top: 30px;
}

.yellow {
  color: #FAA307;
}

.lightblue {
  color: #06D6A0;
}

.red {
  color: #DC2F02;
}

.blue {
  color: #118AB2;
}
.green {
    color: #2DB122;
}
.text_advice {
  font-size: x-large;
  font-weight: bold;
}

.no_reverse {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  q {
    padding-left: 15px;
  }

  .image {
    width: 80%;
  }

  .advice {
    display: flex;
  }

  .reverse {
    flex-wrap: nowrap;
  }

  .no_reverse {
    flex-wrap: nowrap;
  }

  .text {
    width: 70%;
  }

  .text_advice {
    padding-top: 50px;
  }

  .text_advice, p {
    margin-top: 20px;
  }

  .no_reverse .text {
    order: 1;
  }
  
  
  p, q, li {
    font-size: 18px;
  }
  
  h2 {
    text-align: center;
    padding-bottom: 30px;
  }
  
  img {
    padding: 30px 0 30px 0;
    width: 100%;
  }
  
  p {
    width: 80%;
    margin: 0 auto;
  }
  
  q {
    margin: 0 auto;
  }
  
  ul {
    padding-top: 30px;
    margin: 0 auto;
    width: 90%;
    list-style-type: none;
  }
  
  .reverse {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .line {
    border: 1px solid #3F3838;
    width: 80%;
    margin: 0 auto;
  }
  
  .text {
    padding-top: 30px;
  }
  
  .yellow {
    color: #FAA307;
  }
  
  .lightblue {
    color: #06D6A0;
  }
  
  .red {
    color: #DC2F02;
  }
  
  .blue {
    color: #118AB2;
  }
  
  .text_advice {
    font-size: x-large;
    font-weight: bold;
  }
  
  .no_reverse {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  @media screen and (min-width: 768px) and (max-width: 992px) {
    q {
      padding-left: 15px;
    }
  
    .image {
      width: 80%;
    }
  
    .advice {
      display: flex;
    }
  
    .reverse {
      flex-wrap: nowrap;
    }
  
    .no_reverse {
      flex-wrap: nowrap;
    }
  
    .text {
      width: 70%;
    }
  
    .text_advice {
      padding-top: 50px;
    }
  
    .text_advice, p {
      margin-top: 20px;
    }
  
    .no_reverse .text {
      order: 1;
    }
  
    .no_reverse .image {
      order: 2;
    }
  
    .reverse .text {
      order: 1;
    }
  
  }
  
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    q {
      padding-left: 15px;
    }
  
    .image {
      width: 80%;
    }
  
    .advice {
      display: flex;
    }
  
    .reverse {
      flex-wrap: nowrap;
    }
  
    .no_reverse {
      flex-wrap: nowrap;
    }
  
    .text {
      width: 70%;
      padding-top: 70px;
    }
  
    .text_advice {
      padding-top: 50px;
    }
  
    .text_advice, p {
      margin-top: 20px;
    }
  
    .no_reverse .text {
      order: 1;
    }
  
    .no_reverse .image {
      order: 2;
    }
  
    .reverse .text {
      order: 1;
    }
  }
  
  @media screen and (min-width: 1200px) {
    q {
      padding-left: 15px;
    }
  
    img {
      width: 80%;
    }
  
    .image {
      width: 80%;
    }
  
    .advice {
      display: flex;
    }
  
    .reverse {
      flex-wrap: nowrap;
    }
  
    .no_reverse {
      flex-wrap: nowrap;
    }
  
    .text {
      width: 70%;
      padding-top: 70px;
    }
  
    .text_advice {
      padding-top: 50px;
    }
  
    .text_advice, p {
      margin-top: 20px;
    }
  
    .no_reverse .text {
      order: 1;
    }
  
    .no_reverse .image {
      order: 2;
    }
  
    .reverse .text {
      order: 2;
    }
  
    .reverse .image {
      order: 1;
    }
  }

  